@import url("https://fonts.googleapis.com/css?family=Sail");
@import url("https://fonts.googleapis.com/css?family=Six+Caps");

body {
  background: #f57f7f;
  font-family: "Sail", cursive;
  font-size: 48px;
  text-align: center;

}

h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 32px;
}

h1 {
  margin-bottom: 0;
}
