@import url("https://fonts.googleapis.com/css?family=Sail");
@import url("https://fonts.googleapis.com/css?family=Dosis");

body {
  background: #f57f7f;
  font-family: "Sail", cursive;
  font-size: 48px;
  text-align: center;

}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 26px;
}

h1 {
  margin-bottom: 0;
}
